.element__info {
    background: #FFFFFF;
    color: #000000;
    display: grid;
    grid-template-columns: 240px 42px;
    grid-template-rows: 41px 38px;
    min-height: 79px;
    padding: 0;
    margin: 0;
}