.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 880px) {
  .footer__copyright {
    margin-left: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}