.profile-info__profession {
    max-width: 294px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 740px) {
    .profile-info__profession {
        font-size: 14px;
        line-height: 1.21;
        text-align: center;
        margin: 0 auto;
        padding-left: 26px;
        max-width: 188px;
    }
}