.register__input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #cccccc;
  box-sizing: border-box;
  padding: 0 0 8px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #000000;
  color: #fff;
}

::placeholder {
  color: #cccccc;
}
