.profile__avatar {
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    box-sizing: border-box;
    object-fit: cover;
    opacity: 1;
    transition: opacity .5s linear;
}

.profile__avatar:hover {
    opacity: 0;
}


