.loader__container {
  color: #ffffff;
  font-weight: 400;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 0 60px;
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}
