.navbar__navlink {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin-top: 7px;
  transition: opacity 0.5s linear;
}

.navbar__navlink:hover {
  opacity: 0.8;
}

@media screen and (max-width: 968px) {
  .navbar__navlink {
    margin-right: 44px;
  }
}

@media screen and (max-width: 740px) {
  .navbar__navlink {
    margin-right: 27px;
    font-size: 14px;
    line-height: 17px;
  }
}
