.menu__button {
  display: block;
  padding: 0;
  margin-left: 20px;
  background-color: black;
  color: #a9a9a9;
  border: none;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .menu__button {
    margin: 0;
    display: none;
  }
}
