.not-found {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
}
