.popup__save {
  width: 358px;
  background-color: #000;
  color: #fff;
  align-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s linear;
  padding: 12px 0 16px;
  margin: 12px 0 0;
  word-wrap: break-word;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 740px) {
  .popup__save {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    padding: 14.5px 0 14.5px;
    margin: 11px 0 0;
  }
}