.login__submit-button {
  margin-top: 184px;
  padding: 0;
  padding: 14px 84px;
  font-size: 18px;
  line-height: 22px;
  background: #ffffff;
  color: #000000;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.login__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 968px) {
  .login__submit-button {
    margin-top: 180px;
    padding: 14px 60px;
  }
}

@media screen and (max-width: 740px) {
  .login__submit-button {
    margin-top: 173px;
    padding: 14px 35px;
  }
}
