.page {
  background: #000000;
  color: #ffffff;
  font-weight: 400;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 0 60px;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 968px) {
  .page {
    padding: 28px 0 36px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    padding: 28px 0 36px;
  }
}
